{% extends 'IsiPopSiteBundle:layouts:application.html.twig' %}

{% block container %}
<div id="movies">
    <div class="row">
        <div class="col-sm-4">  
		
		<div class="panel panel-default">
		<div class="panel-heading">
		<h3 class="panel-title">TITRE DU FILM</h3></div>
		<div class="panel-body">
        
		<div class="media movie">
        <a class="pull-left" href="<%= baseURL %>/stream?id=<%= movies[i].id %>&file=<%= encodeURIComponent(movies[i].torrents[0].TorrentUrl) %>">
        <img class="media-object" src="<%= movies[i].medium_cover_image %>" alt="<%= movies[i].title %>"></a>
		
		<div class="media-body">
		<p><a class="btn btn-sm btn-warning" href="{{ path('isi_pop_site_stream' , {'id': 3  , 'file': "abc" }) }}" target="_blank"><span class="glyphicon glyphicon-play"></span> PLAY MOVIE</a></p>
        <p><a class="btn btn-xs btn-default" href="http://www.dereferer.org/?http://www.imdb.com/title/<%= movies[i].imdb_code %>" target="_blank" ><span class="glyphicon glyphicon-facetime-video"></span> IMDB</a></p>

		<div class="well well-sm">
		Rating: NOTE<br>
		Genre: GENRE<br>
		Health: <span class="label label-default">S: NB SEED</span> <span class="label label-default">P: NBPEER</span>
		</div>
		
		</div></div></div></div></div>

        </div><div class="row">
    <p class="lead">No results found.</p>
</div>
<ul class="pager">
  <li class="previous "><a href="">&larr; Previous</a></li>
  <li class="next "><a href="">Next &rarr;</a></li>
</ul>
{% endblock %}
